@page "/geolocation-demo"

<h3>Geolocation</h3>

<div class="row">
	<div class="col-sm-6 p-3 border rounded">
		<div class="text-center">
			<button type="button" class="btn btn-primary" @onclick="GetCurrentPositionAsync">Get Current Position</button>
		</div>

		@if (currentPosition != null)
		{
			<div class="p-3">
				<div>Latitude: @currentPosition.Coords.Latitude</div>
                <div>Longitude: @currentPosition.Coords.Longitude</div>
				<div>Accuracy: @currentPosition.Coords.Accuracy</div>
				<div>Heading: @currentPosition.Coords.Heading</div>
				<div>Speed: @currentPosition.Coords.Speed</div>
				<div>Altitude: @currentPosition.Coords.Altitude</div>
				<div>Altitude Accuracy: @currentPosition.Coords.AltitudeAccuracy</div>
			</div>
		}
	</div>

	<div class="col-sm-6 p-3 border rounded">
		<div class="text-center">
			@if (!watching)
			{
				<button type="button" class="btn btn-primary" @onclick="WatchPositionAsync">Watch Position</button>
			}
			else
			{
			<button type="button" class="btn btn-secondary ms-2" @onclick="ClearWatchAsync">Clear Watch</button>
			}
		</div>

		@if (position != null)
		{
			<div class="p-3">
				<div>Latitude: @position.Coords.Latitude</div>
                <div>Longitude: @position.Coords.Longitude</div>
				<div>Accuracy: @position.Coords.Accuracy</div>
				<div>Heading: @position.Coords.Heading</div>
				<div>Speed: @position.Coords.Speed</div>
				<div>Altitude: @position.Coords.Altitude</div>
				<div>Altitude Accuracy: @position.Coords.AltitudeAccuracy</div>
			</div>

			<div class="alert alert-info">
				Move your device to see the changes of real position data.
			</div>
		}
	</div>
</div>